.header {
    background: $dark-blue;

}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between; // puts space between title and button
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none; //clears underline
    h1 { //nested selector
        margin: 0;
    }
}

